In [ ]:
"""""
x = 20
# This is a simple function to add 5 to the age
def my_function():
    return x + 5

def my_function2():
    return x - 5

print("my age is", x)

answer = input("if you want to know my age after 5 years enter 1 if you want to Know my age before 5 years enter 2 : ")

if answer == '1':
    print("my age after 5 years will be", my_function())

elif answer =='2':
        print("my age before 5 years will be", my_function2())
    
else:
    print("ok, bye!")


    print ("amit")
    print("vv")

    print ("machine learning")
    #print("aa")
    print("data science")

    """
name = "Mansy"
age = 20
course = "AI and Machine Learning"
print (f" Hello  iam {name} and iam {age} years old i am engaged in Learning {course} ")


x = 5
print(type(x))

 Hello  iam Mansy and iam 20 years old i am engaged in Learning AI and Machine Learning
<class 'str'>

In [23]:
x = {1,2.3,4,True,1,"amit"}
print(type(x))

<class 'set'>

In [1]:
name = " abdelrahman Mansy"
print(name.replace("Mansy","Ahmed"))
print(name[0:12])

 abdelrahman Ahmed
 abdelrahman